body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

#header a {
  text-decoration: none;
  color: #000;
}

#header {
  border-bottom: 1px #EEE solid;
}

h1, h2, h3 {
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  margin: 0;
}

#header h1 {
  font-size: 2vh;
  padding: 1vh;
  margin: 0;
}

#not-found, #home {
  text-align: center;
  margin: 5vh auto;
  max-width: 600px;
}

#home h1 {
  font-size: 2em;
}

#home p {
  margin: 2em 0;
  line-height: 1.5em;
  text-align: justify;
}

form#new-game {
  margin: 3em;
}

form#new-game button {
  background: #85de6f;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 10px;
  width: 120px;
  height: 62px;
  vertical-align: top;
}

input#game-id {
  padding: 0.2em 0.5em;
  font-size: 1.3em;
  border: 1px #ddd solid;
  letter-spacing: .1em;
  width: 350px;
  height: 50px;
}

#game-loading {
  margin: 5vh;
}

#game {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: nowrap;
}

#status {
  font-size: 1.5em;
  padding: 1em;
  font-family: "Exo 2", sans-serif;
}

#board {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 18vh;
  grid-gap: 0.1vw;
  min-height: 80vh;
}

#board .cell {
  background: #EEE;
  text-align: center;
  padding: 3em 0;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board .pickable:hover {
  opacity: 0.75;
  cursor: pointer;
}

#board .green {
  background: #82b34a;
  color: #FFF;
}

#board .black {
  background: black;
  color: #FFF;
}

#sidebar {
  width: 20%;
}

#join-a-team {
  margin: 0.25em;
}

#join-a-team .buttons {
  display: flex;
  width: 100%;
}

#join-a-team button {
  flex: 1;
  margin: 0.25em;
  background: #b1e773;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

#join-a-team button:hover {
  background: #c3f18d;
}

#join-a-team button .call-to-action {
  font-size: 2em;
  display: block;
}

#key-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  padding: 0 1em;
  margin: 0 auto;
}

#key-card .cell {
  min-height: 3vw;
  display: block;
}

#key-card .black {
  background: #000;
}
#key-card .tan {
  background: #D2B48C;
}
#key-card .green {
  background: #82b34a;
}
